.ph-notify-fade-enter-from.ph-notify-right,
.ph-notify-fade-leave-to.ph-notify-right {
    right:0;
    transform: translateX(100%)
}
.ph-notify-fade-leave-from.ph-notify-right,
.ph-notify-fade-enter-to.ph-notify-right {
    transform: translateX(0%)
}
.ph-notify-fade-leave-active.ph-notify-right {
	opacity: 0;
}

.ph-notify-fade-enter-from.ph-notify-left,
.ph-notify-fade-leave-to.ph-notify-left {
    left:0;
    transform: translateX(-100%)
}
.ph-notify-fade-leave-from.ph-notify-left,
.ph-notify-fade-enter-to.ph-notify-left {
    transform: translateX(0%)
}
.ph-notify-fade-leave-active.ph-notify-left {
	opacity: 0;
}

.ph-notify{
    position: fixed;
    backface-visibility: hidden;
    display: flex;
    border-radius: 8px;
    box-sizing: border-box;
    flex-wrap: wrap;
    transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
    overflow: hidden;
    background-color: var(--ph-notify-bg);
    box-shadow: var(--ph-shadow-2);
    width: var(--ph-notify-width);
    padding: var(--ph-notify-pd);
    z-index:var(--ph-idx-notify);
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    &-wrap{
        flex:1;
    }
    
    &-title{
        font-weight: 500;
        color: var(--ph-c-d1);
        font-size: var(--ph-notify-title-fs);
        line-height: var(--ph-notify-title-lh);
        margin-bottom: var(--ph-notify-title-mp);
        display: flex;
        justify-content: space-between;
        .ph-notify-close{
            --ph-stroke:var(--ph-c-l1);
            background-color: transparent;
            cursor: pointer;
            opacity: .5;
            border: none;
            &[hover=true]:hover{
                opacity: 1;
            }
        }
    }
    &-body{
        color: var(--ph-c); 
        font-size: var(--ph-notify-body-fs);
        line-height: var(--ph-notify-body-lh);
        margin-bottom: var(--ph-notify-body-mp);
    }
    &-action{
        display: flex;
        justify-content: right;
        width: 100%;
        .ph-btn{
            margin-left: 8px;
        }
    }
    &-left{
        left: var(--ph-pd);
    }
    &-right{
        right: var(--ph-pd);
        transform: translateX(0);
    }
    .ph-status-icon{
        border: none!important;
        margin-right: 8px;
        --ph-i-size: 24px;
    }
}
@media screen and (max-width: 768px) {
    .ph-notify{
        left:0;
        right:0;
        margin: auto;
        border-radius: 8px;
        background-color: var(--ph-backdrop-alpha);
        backdrop-filter: blur(20px);
        --ph-notify-title-mp:4px;
        --ph-notify-title-lh:inherit;
        --ph-notify-body-lh:inherit;
        --ph-notify-body-mp:8px;
        --ph-notify-title-fs:12px;
        --ph-notify-body-fs:14px;
        --ph-notify-width:calc(var(--phx) * 20);
        --ph-notify-pd:16px;
        .ph-status-icon{
            --ph-i-size: 16px;
        }
        &-title{
            color: var(--ph-c);
        }
        &-body{
            color: var(--ph-c-d1);
        }
    }
}
@media screen and (min-width: 769px){
    .ph-notify{
        --ph-notify-width:384px;
        --ph-notify-title-fs:16px;
        --ph-notify-body-fs:14px;
        --ph-notify-title-mp:8px;
        --ph-notify-title-lh:24px;
        --ph-notify-body-lh:22px;
        --ph-notify-body-mp:8px;
        --ph-notify-pd:16px 24px;
    }
}
@media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio:2){
    .ph-notify{
        --ph-notify-width:calc(var(--phx) * 20);
        --ph-notify-title-fs:16px;
        --ph-notify-body-fs:14px;
        --ph-notify-title-mp:8px;
        --ph-notify-title-lh:24px;
        --ph-notify-body-lh:22px;
        --ph-notify-body-mp:8px;
        --ph-notify-pd:16px 24px;
    }
}
