:root[f-mode=dark]{
    --ph-c-top:#000000;
    --ph-c-l3:#434343;//rgb(0 0 0 /15%);border
    --ph-c-l2:#5A5A5A;//rgb(0 0 0 /25%);disabled
    --ph-c-l1:#7D7D7D;//rgb(0 0 0 /45%);secondary text
    --ph-c:rgb(255 255 255 /65%);//primary text
    --ph-c-d1:rgb(255 255 255 /85%);//title
    --ph-c-d2:rgb(255 255 255 /100%);
    --ph-c-reverse:#FFFFFF;
    
    --ph-backdrop-alpha:rgb(54 55 61 / 49%);
    --ph-backdrop-alpha-reverse:rgba(255,255,255,.7);
    --ph-progress-bg:rgb(255 255 255 /8%);
    --ph-slider-bg:rgb(255 255 255 /8%);

    --ph-toast-bg:rgba(255,255,255,.8);
    --ph-table-header-bg:rgb(255 255 255 / 4%);
    --ph-bd-1: var(--ph-c-l4);
    --ph-bd-2:rgb(255 255 255 /5%);
    
    --ph-fm-switch-bg:rgb(255 255 255 /30%);
    --ph-fm-switch-bc:rgb(255 255 255 /30%);
    --ph-fm-switch-irbg:#fff;

    //块 背景和边框
    --ph-bg-a15:rgba(0,0,0,.15);
    --ph-bg-a1:rgba(0,0,0,.1);
    --ph-bg-a5-reverse: hsla(0,0%,100%,0.5);
    --ph-bg-a1-reverse: hsla(0,0%,100%,0.1);

    --ph-bg-1:#1a1b1c;
    --ph-bd-1:rgba(23,25,31,.6);

    --ph-bg-2:#242526;

    --ph-bg-3:#303136;
    --ph-bd-3:#17191f;

    --ph-bg-4:#3c3d42; //go-top dropdown
    --ph-bg-hover-4:var(--ph-bg-a1-reverse);
    --ph-shadow-4:0 2px 8px rgb(0 0 0 / 30%);

    --ph-bg-doc:#1a1b1c;
    --ph-bg-view:#222223;//#1a1b1c;
    --ph-block-bg:#2e2f33;

    --ph-mask-bg:rgba(17,17,18,.75);
    --ph-modal-bg:#2e2f33;
    --ph-modal-shadow:0 0 8px rgb(0 0 0 / 25%);
    --ph-modal-br:12px;
    --ph-bd:#1a1b1c;

    --ph-input-bg:var(--ph-bg-a1);
    --ph-input-bc:var(--ph-bg-a1);
    --ph-bg-disabled:var(--ph-bg-a1);//#262626;
    --ph-bd-disabled:var(--ph-bg-a1);//#262626;
    --ph-c-disabled:rgb( 255 255 255 /25%);//rgb( 255 255 255 /25%);
    
    --ph-aside-bg:var(--ph-bg-2);//#343436;
    --ph-topbar-bg:var(--ph-bg-3);
    --ph-card-bg:var(--ph-block-bg);
    --ph-panel-bg:var(--ph-block-bg);
    --ph-dt-bg:#222223;
    --ph-menu-bg: rgb(0 0 0 /20%);

    --ph-tooltip-bg:rgb(255 255 255 /85%);
    --ph-tooltip-c:var(--ph-c-top);
    --ph-popover-bg:var(--ph-bg-4);
    --ph-popover-bg-hover:var(--ph-bg-a1-reverse);
    --ph-shadow-popover:0 2px 8px rgb(0 0 0 / 30%);
    --ph-notify-bg:var(--ph-bg-4);
    --ph-msg-bg: var(--ph-bg-4);
    --ph-loading-bg:var(--ph-bg-4);
    
    // --easeIn: cubic-bezier(0.32,0,0.67,0);
    // --easeOut: cubic-bezier(0.33,1,0.68,1);
    // --easeOutBack: cubic-bezier(0.34,1.56,0.64,1);
    
    
}