@mixin colorMx($cs){
    $prefix : --ph;
    @each $key,$value in $cs {
        @each $v1 in $value {
            $i : index($value,$v1) ;
            #{$prefix}-#{$key}-#{$i} : $v1;
        }
    }    
}
@mixin bmMx($bc) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $bc;
}