@mixin colorMx($cs){
    $prefix : --ph;
    @each $key,$value in $cs {
        @each $v1 in $value {
            $i : index($value,$v1) ;
            #{$prefix}-#{$key}-#{$i} : $v1;
        }
    }    
}
@mixin blMx($bc) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $bc;
}
@mixin tlMx($bc) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $bc;
}
@mixin disabledMx {
    background-color: var(--ph-bg-disabled)!important;
    color: var(--ph-c-disabled)!important;
    cursor: not-allowed!important;
}