:root[f-mode=light]{
    --ph-c-top:#FFF;
    --ph-c-l3:#DDDDDD;//#D9D9D9;//rgb(0 0 0 /15%);border
    --ph-c-l2:#BFBFBF;//rgb(0 0 0 /25%);disabled
    --ph-c-l1:#8C8C8C;//rgb(0 0 0 /45%);secondary text
    --ph-c:rgb(0 0 0 /65%);//primary text
    --ph-c-d1:rgb(0 0 0 /85%);//title
    --ph-c-d2:rgb(0 0 0 /100%);
    --ph-c-reverse:rgb(0 0 0 /85%);
    
    --ph-backdrop-alpha:rgba(255,255,255,.7);
    --ph-backdrop-alpha-reverse:rgb(0 0 0 / 49%);
    --ph-progress-bg:rgb(0 0 0 /4%);
    --ph-slider-bg:rgb(0 0 0 /4%);

    --ph-toast-bg:rgb(0 0 0 / 80%);
    --ph-table-header-bg:rgb(0 0 0 / 2%);
    --ph-bd-1: var(--ph-c-l4);
    --ph-bd-2:rgb(0 0 0 /5%);

    --ph-fm-switch-bg:rgb(0 0 0 /25%);
    --ph-fm-switch-bc:#979797;
    --ph-fm-switch-irbg:#fff;

    //块 背景和边框
    --ph-bg-a5-reverse:rgba(32,32,32,.4);
    --ph-bg-a1-reverse:rgba(32,32,32,.08);
    --ph-bg-a15:rgba(0,0,0,.15);
    --ph-bg-a1:rgba(0,0,0,.1);

    --ph-bg-1:#e8eaed;
    --ph-bd-1:rgba(218,218,220,.6);

    --ph-bg-2:#f7f8fa;
    --ph-bg-4:#FFF;
    --ph-bg-hover-4:var(--ph-bg-a1-reverse);
    
    --ph-bg-doc:#ededed;
    --ph-bg-view:#ededed;//#1a1b1c;
    --ph-block-bg:#FFFFFF;

    --ph-mask-bg:rgba(16,17,22,.6);
    --ph-modal-bg:#f7f8fa;
    --ph-modal-shadow:0 3px 12px rgb(0 0 0 / 10%);
    --ph-modal-br:12px;
    --ph-bd:rgba(218,218,220,.6);

    --ph-input-bg:rgb(248 248 248);
    --ph-input-bc:rgb(248 248 248);
    --ph-bg-disabled:var(--ph-bg-a1);//#262626;
    --ph-bd-disabled:var(--ph-bg-a1);//#262626;
    --ph-c-disabled:rgb( 0 0 0 /25%);

    --ph-aside-bg:var(--ph-bg-2);
    --ph-topbar-bg:#FFFFFF;
    --ph-card-bg:var(--ph-block-bg);
    --ph-panel-bg:var(--ph-block-bg);
    --ph-dt-bg:#FFF;
    --ph-menu-bg: var(--ph-primary-a1);

    --ph-tooltip-bg:#434343;
    --ph-tooltip-c:var(--ph-c-d2);
    --ph-popover-bg:#FFF;
    --ph-popover-bg-hover:var(--ph-bg-a1-reverse);
    --ph-shadow-popover:0 3px 6px rgb(0 0 0 / 25%);
    --ph-notify-bg:var(--ph-bg-4);
    --ph-msg-bg: var(--ph-bg-4);
    --ph-loading-bg:var(--ph-bg-4);
}