@import "./light.scss";
@import "./dark.scss";
@import "./media.scss";

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
:root{
    --ph-rvw:0.13333333333333333vw;
    --phr:0.5;
    --ph-fs:var(--phx);
    --ph-ff: -apple-system,blinkmacsystemfont,"Helvetica Neue",helvetica,segoe ui,arial,roboto,"PingFang SC","miui","Hiragino Sans GB","Microsoft Yahei",sans-serif;
    
    --ph-mg:16px;
    --ph-pd-small:16px;
    
    --ph-fw: 400;
    --ph-fw-m: 500;

    --ph-bg-disabled: var(--ph-c-l2);
    --ph-c-disabled: var(--ph-c-l1);

    --ph-bg-theme:var(--ph-primary);
    --ph-c-theme:var(--ph-c-top);
    --ph-c-white:#FFFFFF;
    --ph-c-dark:#000000;

    --ph-cmp-bg:var(--ph-c-l6);

    --ph-zdx-mask: 1000;
    --ph-zdx-aside: 1001;
    --ph-zdx-notify: 1049;
    --ph-zdx-popup: 1000;
    --ph-zdx-popover: 1030;
    --ph-zdx-floating-panel: 900;
    --ph-zdx-modal: 9999;
    --ph-zdx-keyboard: 1050;
}
body{
    color: var(--ph-c);
    font-size: var(--phx);
    font-family: var(--ph-ff);
    background-color: var(--ph-doc-bg);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    &[f-scroll-forbidden=true]{
        touch-action: none; overflow: hidden;
    }
}
.ph-height-anim{
	transition: height .3s ease;
	backface-visibility:hidden;
	overflow: hidden;
}
.ph-title{
    padding: var(--ph-10) var(--ph-15);
    font-size: var(--ph-fs);
    color: var(--ph-c-d1);
}
.ph-block{
    padding: var(--ph-pd);
    background-color: var(--ph-block-bg);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--ph-pd-small);
}
.ph-link,
.ph-text{
    font-size: var(--ph-fs);
    &-primary{
        color: var(--ph-primary);
    }
    &-danger{
        color: var(--ph-danger);
    }
    &-warning{
        color: var(--ph-warning);
    }
    &-success{
        color: var(--ph-success);
    }
}
.ph-link{
    color: var(--ph-primary);
    text-decoration: none;
}
a,button{
    cursor: pointer;
    font-weight: 500;
}